.nav-background{
    background: black !important;
   
}

.nav-home:hover{
    color: #e62429 !important;
    transition: 300ms ease !important;
}

.nav-favorites:hover{
    color: #e62429 !important;
    transition: 300ms ease !important;
}
